<div id="landing">
  <div class="container">

    <div class="ng-trans ng-trans-fade" ng-show="global.controller == 'landing'" ng-animate>
      <div class="jumbotron">
        <h1>Welcome to Columbia University</h1>
        <p>Search for people, departments, and websites from across the university</p>
        <feedback-form><a href="" class="btn btn-primary btn-lg" role="button" ng-click="toggleForm()" ng-hide="showForm || global.formFinished == 'feedback'">Please send us your feedback</a></feedback-form>
      </div>
    </div>

  </div>

</div><!-- /#gsa-search -->